body{
    margin: 0;
    padding: 0;
}
header,main, footer,div{
    border: 2px solid black;
}
header{
    height: 100px;
}
main {
    height: 200px;
    width: 100%;
}
footer{
    height: 100px;
}
.flex{
    display: flex;
}
.Sidebar{
    width: 200px;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}